<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>board-gamers</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <style>
        [ng-cloak] {
            display: none;
        }

        md-list-item > button {
            width: 100%;
            text-align: left !important;
            height: 70px;
        }

        md-icon.avatar {
            margin-right: 20px;
        }
    </style>
</head>
<body ng-app="StarterApp" layout="column" ng-controller="DemoController as ctrl">

<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav()" aria-label="toggle Sidenav" md-ink-ripple>
            <md-icon md-svg-src="img/icons/ic_menu_black_24px.svg" aria-label="Menu" hide-gt-md></md-icon>
        </md-button>
        <h1>
            <span>ボードゲームに関すること</span>
        </h1>
        <span flex></span>
        <md-menu>
            <img ng-src="http://www.paper-glasses.com/api/twipi/{{::auth.user.screenName}}/normal" width="37px" height="37px" style="border-radius: 37px" ng-click="$mdOpenMenu($event)">
            <md-menu-content>
                <md-menu-item ng-if="!auth.isLoggedIn">
                    <a class="md-button" href="twitter/login">
                        ログイン
                    </a>
                </md-menu-item>
                <md-menu-item ng-if="auth.isLoggedIn">
                    <a class="md-button" href="twitter/logout">
                        ログアウト
                    </a>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<div flex layout="row">
    <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav">
        <md-content layout-padding>
            <md-list>
                <md-list-item>
                    <md-button aria-label="Home">
                        <md-icon md-svg-src="img/icons/ic_home_black_24px.svg" class="avatar"></md-icon>
                        ホーム
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button aria-label="Settings">
                        <md-icon md-svg-src="img/icons/ic_settings_black_24px.svg" class="avatar"></md-icon>
                        設定
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content flex id="content">
        <md-list>
            <md-subheader class="md-no-sticky">設定</md-subheader>
            <md-list-item>
                <md-icon md-svg-src="img/icons/bell.svg" class="avatar"></md-icon>
                <p>通知を受け取る</p>
                <md-checkbox class="md-secondary"></md-checkbox>
            </md-list-item>
            <md-list-item>
                <md-icon></md-icon>
                <p>トリックプレイ</p>
                <md-checkbox class="md-secondary"></md-checkbox>
            </md-list-item>
        </md-list>

        <md-list ng-if="arrivalOfGames" layout-wrap>
            <md-subheader class="md-no-sticky">最新の入荷情報</md-subheader>
            <md-list-item class="md-3-line md-long-text" ng-repeat="aog in ::arrivalOfGames">
                <div class="md-list-item-text" ng-cloak>
                    <h3>{{::aog.shop}}</h3>
                    <p><span ng-repeat="game in ::aog.games">{{::game | hankakuspace}}{{$last ? "" : ", "}}</span></p>
                    <div>{{::aog.createdAt}}</div>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="angular-circumstamce.js"></script>
<script>
    angular.module("StarterApp", ["ngMaterial"])
            .run(function ($log) {
                $log.debug("MyApp is ready!");
            })
            .config(function ($mdThemingProvider) {
                $mdThemingProvider.theme("default")
                        .primaryPalette("grey", {
                            "default": "50"
                        })
                        .accentPalette("orange");
            })
            .controller("DemoController", function ($mdDialog, $http, $scope, $mdSidenav) {
                $http({
                    method: "GET",
                    url: "/api/v1/auth"
                })
                        .then(function (response) {
                            $scope.auth = response.data;
                            console.log(response);
                        }, function (response) {
                            console.log(response);
                        });

                $http({
                    method: "GET",
                    url: "/api/v1/arrivalOfGames"
                })
                        .then(function (response) {
                            $scope.arrivalOfGames = response.data;
                            console.log(response);
                        }, function (response) {
                            console.error(response);
                        });
                
                $scope.toggleSidenav = function () {
                  $mdSidenav("sidenav").toggle();
                }
            })
            .filter("hankakuspace", function () {
                return function (input) {
                    return input.replace(/　/g, " ");
                }
            });
</script>
</body>
</html>
